@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<li id="listCategories">

</li>


<!--
    To search for categorys by text
-->
<li id="byText">

</li>

<input type="text" name="searchBox" id="inp" />
<button type="submit" onclick="getCategoryByText()">Pesquisar</button>

<script>
    //Using fetch to contact the API and get the questions values
    function getCategories() {
        fetch("https://localhost:44387/api/Categories") // default: GET!
            .then(response => response.json()) // generates an object with the list of questions
            .then(categories => showCategories(categories));
    }

    function showCategories(categoriesObj) {
        for (var i = 0; i < categoriesObj.length; i++) {
            document.getElementById("listCategories").innerHTML +=
                '<p>' + categoriesObj[i].description + '</p>';
        }
    }

    //Searches questions by text with the value inputed
    function getCategoryByText() {
        fetch("https://localhost:44387/Categories/GetByText/" + document.getElementById("inp").value)
            .then(response => response.json())
            .then(categoryByText => listByText(categoryByText))
    }

    function listByText(categoryObj) {
        for (var i = 0; i < categoryObj.length; i++) {
            document.getElementById("byText").innerHTML +=
                '<p>' + categoryObj[i].description + '</p>';
        }
    }

    getCategories();
</script>